Practica2SOAPClienteJava/xml-resources/web-service-references/ControladorWeb/wsdl/localhost_8080/Practica2SOAPClass/ControladorWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controlador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controlador/" name="ControladorWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://Controlador/" schemaLocation="http://localhost:8080/Practica2SOAPClass/ControladorWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="start">
<part name="parameters" element="tns:start"/>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"/>
</message>
<message name="crearRecetario">
<part name="parameters" element="tns:crearRecetario"/>
</message>
<message name="crearRecetarioResponse">
<part name="parameters" element="tns:crearRecetarioResponse"/>
</message>
<message name="crearReceta">
<part name="parameters" element="tns:crearReceta"/>
</message>
<message name="crearRecetaResponse">
<part name="parameters" element="tns:crearRecetaResponse"/>
</message>
<message name="importarReceta">
<part name="parameters" element="tns:importarReceta"/>
</message>
<message name="importarRecetaResponse">
<part name="parameters" element="tns:importarRecetaResponse"/>
</message>
<message name="exportarReceta">
<part name="parameters" element="tns:exportarReceta"/>
</message>
<message name="exportarRecetaResponse">
<part name="parameters" element="tns:exportarRecetaResponse"/>
</message>
<message name="crearRecetarioSimple">
<part name="parameters" element="tns:crearRecetarioSimple"/>
</message>
<message name="crearRecetarioSimpleResponse">
<part name="parameters" element="tns:crearRecetarioSimpleResponse"/>
</message>
<message name="exportarRecetario">
<part name="parameters" element="tns:exportarRecetario"/>
</message>
<message name="exportarRecetarioResponse">
<part name="parameters" element="tns:exportarRecetarioResponse"/>
</message>
<message name="obtenerRecetaSinAsignar">
<part name="parameters" element="tns:obtenerRecetaSinAsignar"/>
</message>
<message name="obtenerRecetaSinAsignarResponse">
<part name="parameters" element="tns:obtenerRecetaSinAsignarResponse"/>
</message>
<message name="importarRecetario">
<part name="parameters" element="tns:importarRecetario"/>
</message>
<message name="importarRecetarioResponse">
<part name="parameters" element="tns:importarRecetarioResponse"/>
</message>
<message name="obtenerRecetaArrayList">
<part name="parameters" element="tns:obtenerRecetaArrayList"/>
</message>
<message name="obtenerRecetaArrayListResponse">
<part name="parameters" element="tns:obtenerRecetaArrayListResponse"/>
</message>
<message name="crearRecetaSimple">
<part name="parameters" element="tns:crearRecetaSimple"/>
</message>
<message name="crearRecetaSimpleResponse">
<part name="parameters" element="tns:crearRecetaSimpleResponse"/>
</message>
<message name="crearRecetaArrayList">
<part name="parameters" element="tns:crearRecetaArrayList"/>
</message>
<message name="crearRecetaArrayListResponse">
<part name="parameters" element="tns:crearRecetaArrayListResponse"/>
</message>
<message name="obtenerRecetaRecetario">
<part name="parameters" element="tns:obtenerRecetaRecetario"/>
</message>
<message name="obtenerRecetaRecetarioResponse">
<part name="parameters" element="tns:obtenerRecetaRecetarioResponse"/>
</message>
<message name="validarXSD">
<part name="parameters" element="tns:validarXSD"/>
</message>
<message name="validarXSDResponse">
<part name="parameters" element="tns:validarXSDResponse"/>
</message>
<message name="obtenerRecetario">
<part name="parameters" element="tns:obtenerRecetario"/>
</message>
<message name="obtenerRecetarioResponse">
<part name="parameters" element="tns:obtenerRecetarioResponse"/>
</message>
<message name="obtenerReceta">
<part name="parameters" element="tns:obtenerReceta"/>
</message>
<message name="obtenerRecetaResponse">
<part name="parameters" element="tns:obtenerRecetaResponse"/>
</message>
<portType name="ControladorWeb">
<operation name="start">
<input wsam:Action="http://Controlador/ControladorWeb/startRequest" message="tns:start"/>
<output wsam:Action="http://Controlador/ControladorWeb/startResponse" message="tns:startResponse"/>
</operation>
<operation name="crearRecetario">
<input wsam:Action="http://Controlador/ControladorWeb/crearRecetarioRequest" message="tns:crearRecetario"/>
<output wsam:Action="http://Controlador/ControladorWeb/crearRecetarioResponse" message="tns:crearRecetarioResponse"/>
</operation>
<operation name="crearReceta">
<input wsam:Action="http://Controlador/ControladorWeb/crearRecetaRequest" message="tns:crearReceta"/>
<output wsam:Action="http://Controlador/ControladorWeb/crearRecetaResponse" message="tns:crearRecetaResponse"/>
</operation>
<operation name="importarReceta">
<input wsam:Action="http://Controlador/ControladorWeb/importarRecetaRequest" message="tns:importarReceta"/>
<output wsam:Action="http://Controlador/ControladorWeb/importarRecetaResponse" message="tns:importarRecetaResponse"/>
</operation>
<operation name="exportarReceta">
<input wsam:Action="http://Controlador/ControladorWeb/exportarRecetaRequest" message="tns:exportarReceta"/>
<output wsam:Action="http://Controlador/ControladorWeb/exportarRecetaResponse" message="tns:exportarRecetaResponse"/>
</operation>
<operation name="crearRecetarioSimple">
<input wsam:Action="http://Controlador/ControladorWeb/crearRecetarioSimpleRequest" message="tns:crearRecetarioSimple"/>
<output wsam:Action="http://Controlador/ControladorWeb/crearRecetarioSimpleResponse" message="tns:crearRecetarioSimpleResponse"/>
</operation>
<operation name="exportarRecetario">
<input wsam:Action="http://Controlador/ControladorWeb/exportarRecetarioRequest" message="tns:exportarRecetario"/>
<output wsam:Action="http://Controlador/ControladorWeb/exportarRecetarioResponse" message="tns:exportarRecetarioResponse"/>
</operation>
<operation name="obtenerRecetaSinAsignar">
<input wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaSinAsignarRequest" message="tns:obtenerRecetaSinAsignar"/>
<output wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaSinAsignarResponse" message="tns:obtenerRecetaSinAsignarResponse"/>
</operation>
<operation name="importarRecetario">
<input wsam:Action="http://Controlador/ControladorWeb/importarRecetarioRequest" message="tns:importarRecetario"/>
<output wsam:Action="http://Controlador/ControladorWeb/importarRecetarioResponse" message="tns:importarRecetarioResponse"/>
</operation>
<operation name="obtenerRecetaArrayList">
<input wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaArrayListRequest" message="tns:obtenerRecetaArrayList"/>
<output wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaArrayListResponse" message="tns:obtenerRecetaArrayListResponse"/>
</operation>
<operation name="crearRecetaSimple">
<input wsam:Action="http://Controlador/ControladorWeb/crearRecetaSimpleRequest" message="tns:crearRecetaSimple"/>
<output wsam:Action="http://Controlador/ControladorWeb/crearRecetaSimpleResponse" message="tns:crearRecetaSimpleResponse"/>
</operation>
<operation name="crearRecetaArrayList">
<input wsam:Action="http://Controlador/ControladorWeb/crearRecetaArrayListRequest" message="tns:crearRecetaArrayList"/>
<output wsam:Action="http://Controlador/ControladorWeb/crearRecetaArrayListResponse" message="tns:crearRecetaArrayListResponse"/>
</operation>
<operation name="obtenerRecetaRecetario">
<input wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaRecetarioRequest" message="tns:obtenerRecetaRecetario"/>
<output wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaRecetarioResponse" message="tns:obtenerRecetaRecetarioResponse"/>
</operation>
<operation name="validarXSD">
<input wsam:Action="http://Controlador/ControladorWeb/validarXSDRequest" message="tns:validarXSD"/>
<output wsam:Action="http://Controlador/ControladorWeb/validarXSDResponse" message="tns:validarXSDResponse"/>
</operation>
<operation name="obtenerRecetario">
<input wsam:Action="http://Controlador/ControladorWeb/obtenerRecetarioRequest" message="tns:obtenerRecetario"/>
<output wsam:Action="http://Controlador/ControladorWeb/obtenerRecetarioResponse" message="tns:obtenerRecetarioResponse"/>
</operation>
<operation name="obtenerReceta">
<input wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaRequest" message="tns:obtenerReceta"/>
<output wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaResponse" message="tns:obtenerRecetaResponse"/>
</operation>
</portType>
<binding name="ControladorWebPortBinding" type="tns:ControladorWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="start">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="importarReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportarReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearRecetarioSimple">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportarRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerRecetaSinAsignar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="importarRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerRecetaArrayList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearRecetaSimple">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearRecetaArrayList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerRecetaRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarXSD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ControladorWeb">
<port name="ControladorWebPort" binding="tns:ControladorWebPortBinding">
<soap:address location="http://localhost:8080/Practica2SOAPClass/ControladorWeb"/>
</port>
</service>
</definitions>