Practica2SOAPClienteJava/src/META-INF/wsdl/localhost_8080/Practica2SOAPClass/ControladorWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controlador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controlador/" name="ControladorWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://Controlador/" schemaLocation="http://localhost:8080/Practica2SOAPClass/ControladorWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="importarReceta">
<part name="parameters" element="tns:importarReceta"/>
</message>
<message name="importarRecetaResponse">
<part name="parameters" element="tns:importarRecetaResponse"/>
</message>
<message name="exportarReceta">
<part name="parameters" element="tns:exportarReceta"/>
</message>
<message name="exportarRecetaResponse">
<part name="parameters" element="tns:exportarRecetaResponse"/>
</message>
<message name="crearReceta">
<part name="parameters" element="tns:crearReceta"/>
</message>
<message name="crearRecetaResponse">
<part name="parameters" element="tns:crearRecetaResponse"/>
</message>
<message name="obtenerReceta">
<part name="parameters" element="tns:obtenerReceta"/>
</message>
<message name="obtenerRecetaResponse">
<part name="parameters" element="tns:obtenerRecetaResponse"/>
</message>
<message name="crearRecetario">
<part name="parameters" element="tns:crearRecetario"/>
</message>
<message name="crearRecetarioResponse">
<part name="parameters" element="tns:crearRecetarioResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="importarRecetario">
<part name="parameters" element="tns:importarRecetario"/>
</message>
<message name="importarRecetarioResponse">
<part name="parameters" element="tns:importarRecetarioResponse"/>
</message>
<message name="exportarRecetario">
<part name="parameters" element="tns:exportarRecetario"/>
</message>
<message name="exportarRecetarioResponse">
<part name="parameters" element="tns:exportarRecetarioResponse"/>
</message>
<message name="validarXSD">
<part name="parameters" element="tns:validarXSD"/>
</message>
<message name="validarXSDResponse">
<part name="parameters" element="tns:validarXSDResponse"/>
</message>
<portType name="ControladorWeb">
<operation name="importarReceta">
<input wsam:Action="http://Controlador/ControladorWeb/importarRecetaRequest" message="tns:importarReceta"/>
<output wsam:Action="http://Controlador/ControladorWeb/importarRecetaResponse" message="tns:importarRecetaResponse"/>
</operation>
<operation name="exportarReceta">
<input wsam:Action="http://Controlador/ControladorWeb/exportarRecetaRequest" message="tns:exportarReceta"/>
<output wsam:Action="http://Controlador/ControladorWeb/exportarRecetaResponse" message="tns:exportarRecetaResponse"/>
</operation>
<operation name="crearReceta">
<input wsam:Action="http://Controlador/ControladorWeb/crearRecetaRequest" message="tns:crearReceta"/>
<output wsam:Action="http://Controlador/ControladorWeb/crearRecetaResponse" message="tns:crearRecetaResponse"/>
</operation>
<operation name="obtenerReceta">
<input wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaRequest" message="tns:obtenerReceta"/>
<output wsam:Action="http://Controlador/ControladorWeb/obtenerRecetaResponse" message="tns:obtenerRecetaResponse"/>
</operation>
<operation name="crearRecetario">
<input wsam:Action="http://Controlador/ControladorWeb/crearRecetarioRequest" message="tns:crearRecetario"/>
<output wsam:Action="http://Controlador/ControladorWeb/crearRecetarioResponse" message="tns:crearRecetarioResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Controlador/ControladorWeb/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Controlador/ControladorWeb/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="importarRecetario">
<input wsam:Action="http://Controlador/ControladorWeb/importarRecetarioRequest" message="tns:importarRecetario"/>
<output wsam:Action="http://Controlador/ControladorWeb/importarRecetarioResponse" message="tns:importarRecetarioResponse"/>
</operation>
<operation name="exportarRecetario">
<input wsam:Action="http://Controlador/ControladorWeb/exportarRecetarioRequest" message="tns:exportarRecetario"/>
<output wsam:Action="http://Controlador/ControladorWeb/exportarRecetarioResponse" message="tns:exportarRecetarioResponse"/>
</operation>
<operation name="validarXSD">
<input wsam:Action="http://Controlador/ControladorWeb/validarXSDRequest" message="tns:validarXSD"/>
<output wsam:Action="http://Controlador/ControladorWeb/validarXSDResponse" message="tns:validarXSDResponse"/>
</operation>
</portType>
<binding name="ControladorWebPortBinding" type="tns:ControladorWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="importarReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportarReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="importarRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportarRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarXSD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ControladorWeb">
<port name="ControladorWebPort" binding="tns:ControladorWebPortBinding">
<soap:address location="http://localhost:8080/Practica2SOAPClass/ControladorWeb"/>
</port>
</service>
</definitions>