Practica2SOAPClienteJava/src/META-INF/wsdl/localhost_8080/Practica2SOAPClass/ControladorWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Controlador/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Controlador/">

<xs:element name="Receta" type="tns:receta"/>

<xs:element name="Recetario" type="tns:recetario"/>

<xs:element name="crearReceta" type="tns:crearReceta"/>

<xs:element name="crearRecetaResponse" type="tns:crearRecetaResponse"/>

<xs:element name="crearRecetario" type="tns:crearRecetario"/>

<xs:element name="crearRecetarioResponse" type="tns:crearRecetarioResponse"/>

<xs:element name="exportarRecetario" type="tns:exportarRecetario"/>

<xs:element name="exportarRecetarioResponse" type="tns:exportarRecetarioResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="obtenerReceta" type="tns:obtenerReceta"/>

<xs:element name="obtenerRecetaResponse" type="tns:obtenerRecetaResponse"/>

<xs:complexType name="crearRecetario">
<xs:sequence>
<xs:element name="nombreRecetario" type="xs:string" minOccurs="0"/>
<xs:element name="recetaArrayList" type="tns:receta" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="precioRecetario" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ingrediente" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ingrediente" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="precio" type="xs:double" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="dificultad" type="xs:string"/>
</xs:complexType>

<xs:complexType name="crearRecetarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:recetario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recetario">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="recetas" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="recetas" type="tns:receta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="precio" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearReceta">
<xs:sequence>
<xs:element name="nombreReceta" type="xs:string" minOccurs="0"/>
<xs:element name="dificultadReceta" type="xs:string" minOccurs="0"/>
<xs:element name="ingredientes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="precioReceta" type="xs:double" minOccurs="0"/>
<xs:element name="recetaArrayList" type="tns:receta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRecetaResponse">
<xs:sequence>
<xs:element name="return" type="tns:receta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerReceta">
<xs:sequence>
<xs:element name="nombreReceta" type="xs:string" minOccurs="0"/>
<xs:element name="recetario" type="tns:recetario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerRecetaResponse">
<xs:sequence>
<xs:element name="return" type="tns:receta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exportarRecetario">
<xs:sequence>
<xs:element name="nombreFichero" type="xs:string" minOccurs="0"/>
<xs:element name="recetario" type="tns:recetario" minOccurs="0"/>
<xs:element name="ruta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exportarRecetarioResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>