Practica2SOAPClienteJava/src/META-INF/wsdl/ControladorWeb_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://Controlador/" xmlns:tns="http://Controlador/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hello" type="tns:hello"/>

  <xs:element name="helloResponse" type="tns:helloResponse"/>

  <xs:element name="obtenerReceta" type="tns:obtenerReceta"/>

  <xs:element name="obtenerRecetaResponse" type="tns:obtenerRecetaResponse"/>

  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerReceta">
    <xs:sequence>
      <xs:element name="arrayListRecetas" type="tns:receta" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="receta">
    <xs:sequence>
      <xs:element name="dificultad" type="xs:string" minOccurs="0"/>
      <xs:element name="ingrediente" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="nombre" type="xs:string" minOccurs="0"/>
      <xs:element name="precio" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerRecetaResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

